<div ng-controler="loginController" class="" id="container">

	<div class="container">
		<!--<a href="login/dologin">Test link</a>-->
		<div class="modal-content modal-dialog">
			<div class="modal-body" id="modal-body">

				<form class="form-signin">
					<!-- 关闭按钮 -->
					<div class="row">
						<button type="button" class="close" aria-label="Close" id="closetabbtn">
							<span aria-hidden="true" style="color:red">&times;</span>
						</button>
					</div>
					
					<div class="row mgn10-0">
						<div class="form-group">
							<div class="logoPic">
								LOGO PIC
							</div>
						</div>
					</div>
					<div class="row mgn10-0">
						<div class="col-md-3 col-md-offset-2">
							<label for="userName">User Name</label>
						</div>
						<div class="col-md-4">
							<input type="text" id="userName" ng-model="userName" class="form-control" placeholder="User Name" autofocus>
						</div>
					</div>
					<div class="row mgn10-0">
						<div class="col-md-3 col-md-offset-2">
							<label for="password">Password</label>
						</div>
						<div class="col-md-4">
							<input type="password" id="password" ng-model="password" class="form-control control" placeholder="Password">
						</div>
					</div>
					<div class="row ">
						<div class="col-md-4 col-md-offset-2">
							<div class="checkbox">
								<label>
		            			<input type="checkbox" value="remember-me"> Remember me
		          			</label>
							</div>
						</div>
					</div>
					<div class="row ">
						<div class="col-md-3 col-md-offset-3 mgn10-0">
							<button ng-click="doLogin()" class="btn btn-lg btn-success btn-block" type="submit">Sign in</button>
						</div>
						<div class="col-md-3 mgn10-0">
							<button ng-click="doReg()" class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
						</div>

					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- /container -->
	<div ng-hide="visibleMsg">
		<p><span>{{msg}}</span></p>
	</div>
	<h3> {{welcomeMessage}}</h3>

</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#closetabbtn").click(function(){
			$("#loginController").remove();
		});
	});
</script>
