/**
 * common*
 */
*{margin:0; padding:0;}
ul { list-style-type:none;}
li { list-style: none;}
img { border: 0; vertical-align: middle;}
input, select { outline: none;}
a, a:link, a:hover, a:active, a:visited { text-decoration: none;}
.clear {clear:both;}
.clear{clear:both;}
/* cursor */
.cs-poin{cursor: pointer;}
.cs-txt{cursor: text;}
/* position */
.relative{position: relative;}
.absolute{position: absolute;}
.fixed{position: fixed;}
/* float */
.fl{float: left;}
.fr{float: right;}
/* text align */
.txt-l{text-align: left;}
.txt-c{text-align: center;}
.txt-r{text-align: right;}
.txt-under{text-decoration:underline;}
/* display */
.dp-block{display: block;}
.dp-none{display: none;}
.dp-inline{display: inline-block;}
/* font size */
.fs-12{font-size: 12px;}
.fs-14{font-size: 14px;}
.fs-16{font-size: 16px;}
.fs-18{font-size: 18px;}
.fs-20{font-size: 20px;}
.fs-24{font-size: 24px;}
.fs-36{font-size: 36px;}
.fs-48{font-size: 48px;}
/* height*/
.height1{height:10px;	clear:both;}
.height2{height:20px;	clear:both;}
.height3{height:30px;	clear:both;}
.height4{height: 40px;clear:both;}
.height5{height:50px;	clear:both;}
.height100{height:100px;	clear:both;}
.height200{height:200px;	clear:both;}
.height300{height:300px;	clear:both;}
.height400{height:400px;	clear:both;}
.height500{height:500px;	clear:both;}
.height5px{width:5px;}.height10px{width:10px;}.height15px{width:15px;}.height20px{width:20px;}
.height25px{width:25px;}.height30px{width:30px;}.height35px{width:35px;}.height40px{width:40px;}
.height45px{width:45px;}.height50px{width:50px;}.height55px{width:55px;}.height60px{width:60px;}
.height65px{width:65px;}.height70px{width:70px;}.height75px{width:75px;}.height80px{width:80px;}
.height85px{width:85px;}.height90px{width:90px;}.height95px{width:95px;}.height100px{width:100px;}
.height10lines{height:363px !important; }
/* width */
.width1{width:1%;}.width2{width:2%;}.width3{width:3%;}.width4{width:4%;}
.width5{width:5%;}.width6{width:6%;}.width7{width:7%;}.width8{width:8%;}
.width9{width:9%;}.width10{width:10%;}.width11{width:11%;}.width12{width:12%;}
.width13{width:13%;}.width14{width:14%;}.width15{width:15%;}.width16{width:16%;}
.width17{width:17%;}.width18{width:18%;}.width19{width:19%;}.width20{width:20%;}
.width21{width:21%;}.width22{width:22%;}.width23{width:23%;}.width24{width:24%;}
.width25{width:25%;}.width26{width:26%;}.width27{width:27%;}.width28{width:28%;}
.width29{width:29%;}.width30{width:30%;}.width31{width:31%;}.width32{width:32%;}
.width33{width:33%;}.width34{width:34%;}.width35{width:35%;}.width36{width:36%;}
.width37{width:37%;}.width38{width:38%;}.width39{width:39%;}.width40{width:40%;}
.width41{width:41%;}.width42{width:42%;}.width43{width:43%;}.width44{width:44%;}
.width45{width:45%;}.width46{width:46%;}.width47{width:47%;}.width48{width:48%;}
.width49{width:49%;}.width50{width:50%;}.width51{width:51%;}.width52{width:52%;}
.width53{width:53%;}.width54{width:54%;}.width55{width:55%;}.width56{width:56%;}
.width57{width:57%;}.width58{width:58%;}.width59{width:59%;}.width60{width:60%;}
.width61{width:61%;}.width62{width:62%;}.width63{width:63%;}.width64{width:64%;}
.width65{width:65%;}.width66{width:66%;}.width67{width:67%;}.width68{width:68%;}
.width69{width:69%;}.width70{width:70%;}.width71{width:71%;}.width72{width:72%;}
.width73{width:73%;}.width74{width:74%;}.width75{width:75%;}.width76{width:76%;}
.width77{width:77%;}.width78{width:78%;}.width79{width:79%;}.width80{width:80%;}
.width81{width:81%;}.width82{width:82%;}.width83{width:83%;}.width84{width:84%;}
.width85{width:85%;}.width86{width:86%;}.width87{width:87%;}.width88{width:88%;}
.width89{width:89%;}.width90{width:90%;}.width91{width:91%;}.width92{width:92%;}
.width93{width:93%;}.width94{width:94%;}.width95{width:95%;}.width96{width:96%;}
.width97{width:97%;}.width98{width:98%;}.width99{width:99%;}.width100{width:100%;}

.width5px{width:5px;}.width6px{width:6px;}.width7px{width:7px;}.width8px{width:8px;}
.width9px{width:9px;}.width10px{width:10px;}.width11px{width:11px;}.width12px{width:12px;}
.width13px{width:13px;}.width14px{width:14px;}.width15px{width:15px;}.width16px{width:16px;}
.width17px{width:17px;}.width18px{width:18px;}.width19px{width:19px;}.width20px{width:20px;}
.width21px{width:21px;}.width22px{width:22px;}.width23px{width:23px;}.width24px{width:24px;}
.width25px{width:25px;}.width26px{width:26px;}.width27px{width:27px;}.width28px{width:28px;}
.width29px{width:29px;}.width30px{width:30px;}.width31px{width:31px;}.width32px{width:32px;}
.width33px{width:33px;}.width34px{width:34px;}.width35px{width:35px;}.width36px{width:36px;}
.width37px{width:37px;}.width38px{width:38px;}.width39px{width:39px;}.width40px{width:40px;}
.width41px{width:41px;}.width42px{width:42px;}.width43px{width:43px;}.width44px{width:44px;}
.width45px{width:45px;}.width46px{width:46px;}.width47px{width:47px;}.width48px{width:48px;}
.width49px{width:49px;}.width50px{width:50px;}.width51px{width:51px;}.width52px{width:52px;}
.width53px{width:53px;}.width54px{width:54px;}.width55px{width:55px;}.width56px{width:56px;}
.width57px{width:57px;}.width58px{width:58px;}.width59px{width:59px;}.width60px{width:60px;}
.width61px{width:61px;}.width62px{width:62px;}.width63px{width:63px;}.width64px{width:64px;}
.width65px{width:65px;}.width66px{width:66px;}.width67px{width:67px;}.width68px{width:68px;}
.width69px{width:69px;}.width70px{width:70px;}.width71px{width:71px;}.width72px{width:72px;}
.width73px{width:73px;}.width74px{width:74px;}.width75px{width:75px;}.width76px{width:76px;}
.width77px{width:77px;}.width78px{width:78px;}.width79px{width:79px;}.width80px{width:80px;}
.width81px{width:81px;}.width82px{width:82px;}.width83px{width:83px;}.width84px{width:84px;}
.width85px{width:85px;}.width86px{width:86px;}.width87px{width:87px;}.width88px{width:88px;}
.width89px{width:89px;}.width90px{width:90px;}.width91px{width:91px;}.width92px{width:92px;}
.width93px{width:93px;}.width94px{width:94px;}.width95px{width:95px;}.width96px{width:96px;}
.width97px{width:97px;}.width98px{width:98px;}.width99px{width:99px;}.width100px{width:100px;}

/*margin*/
.mgn-t-5{margin-top:5px;}.mgn-r-5{margin-right:5px;}.mgn-b-5{margin-bottom:5px;}.mgn-l-5{margin-left:5px;}
.mgn-t-10{margin-top:10px;}.mgn-r-10{margin-right:10px;}.mgn-b-10{margin-bottom:10px;}.mgn-l-10{margin-left:10px;}
.mgn-t-15{margin-top:15px;}.mgn-r-15{margin-right:15px;}.mgn-b-15{margin-bottom:15px;}.mgn-l-15{margin-left:15px;}
.mgn-t-20{margin-top:20px;}.mgn-r-20{margin-right:20px;}.mgn-b-20{margin-bottom:20px;}.mgn-l-20{margin-left:20px;}
.mgn-t-25{margin-top:25px;}.mgn-r-25{margin-right:25px;}.mgn-b-25{margin-bottom:25px;}.mgn-l-25{margin-left:25px;}
.mgn-t-30{margin-top:30px;}.mgn-r-30{margin-right:30px;}.mgn-b-30{margin-bottom:30px;}.mgn-l-30{margin-left:30px;}
.mgn-t-35{margin-top:35px;}.mgn-r-35{margin-right:35px;}.mgn-b-35{margin-bottom:35px;}.mgn-l-35{margin-left:35px;}
.mgn-t-40{margin-top:40px;}.mgn-r-40{margin-right:40px;}.mgn-b-40{margin-bottom:40px;}.mgn-l-40{margin-left:40px;}
.mgn-t-45{margin-top:45px;}.mgn-r-45{margin-right:45px;}.mgn-b-45{margin-bottom:45px;}.mgn-l-45{margin-left:45px;}
.mgn-t-50{margin-top:50px;}.mgn-r-50{margin-right:50px;}.mgn-b-50{margin-bottom:50px;}.mgn-l-50{margin-left:50px;}
.mgn-t-55{margin-top:55px;}.mgn-r-55{margin-right:55px;}.mgn-b-55{margin-bottom:55px;}.mgn-l-55{margin-left:55px;}
.mgn-t-60{margin-top:60px;}.mgn-r-60{margin-right:60px;}.mgn-b-60{margin-bottom:60px;}.mgn-l-60{margin-left:60px;}
.mgn-t-65{margin-top:65px;}.mgn-r-65{margin-right:65px;}.mgn-b-65{margin-bottom:65px;}.mgn-l-65{margin-left:65px;}
.mgn-t-70{margin-top:70px;}.mgn-r-70{margin-right:70px;}.mgn-b-70{margin-bottom:70px;}.mgn-l-70{margin-left:70px;}
.mgn-t-75{margin-top:75px;}.mgn-r-75{margin-right:75px;}.mgn-b-75{margin-bottom:75px;}.mgn-l-75{margin-left:75px;}
.mgn-t-80{margin-top:80px;}.mgn-r-80{margin-right:80px;}.mgn-b-80{margin-bottom:80px;}.mgn-l-80{margin-left:80px;}
.mgn-t-85{margin-top:85px;}.mgn-r-85{margin-right:85px;}.mgn-b-85{margin-bottom:85px;}.mgn-l-85{margin-left:85px;}
.mgn-t-90{margin-top:90px;}.mgn-r-90{margin-right:90px;}.mgn-b-90{margin-bottom:90px;}.mgn-l-90{margin-left:90px;}
.mgn-t-95{margin-top:95px;}.mgn-r-95{margin-right:95px;}.mgn-b-95{margin-bottom:95px;}.mgn-l-95{margin-left:95px;}
.mgn-t-100{margin-top:100px;}.mgn-r-100{margin-right:100px;}.mgn-b-100{margin-bottom:100px;}.mgn-l-100{margin-left:100px;}
.mgn-t-110{margin-top:110px;}.mgn-r-110{margin-right:110px;}.mgn-b-110{margin-bottom:110px;}.mgn-l-110{margin-left:110px;}
.mgn-t-120{margin-top:120px;}.mgn-r-120{margin-right:120px;}.mgn-b-120{margin-bottom:120px;}.mgn-l-120{margin-left:120px;}
.mgn-t-130{margin-top:130px;}.mgn-r-130{margin-right:130px;}.mgn-b-130{margin-bottom:130px;}.mgn-l-130{margin-left:130px;}
.mgn-t-140{margin-top:140px;}.mgn-r-140{margin-right:140px;}.mgn-b-140{margin-bottom:140px;}.mgn-l-140{margin-left:140px;}
.mgn-t-150{margin-top:150px;}.mgn-r-150{margin-right:150px;}.mgn-b-150{margin-bottom:150px;}.mgn-l-150{margin-left:150px;}
.mgn-t-200{margin-top:200px;}.mgn-r-200{margin-right:200px;}.mgn-b-200{margin-bottom:200px;}.mgn-l-200{margin-left:200px;}
.mgn-t-300{margin-top:300px;}.mgn-r-300{margin-right:300px;}.mgn-b-300{margin-bottom:300px;}.mgn-l-300{margin-left:300px;}
.mgn-t-400{margin-top:400px;}.mgn-r-400{margin-right:400px;}.mgn-b-400{margin-bottom:400px;}.mgn-l-400{margin-left:400px;}
.mgn-t-500{margin-top:500px;}.mgn-r-500{margin-right:500px;}.mgn-b-500{margin-bottom:500px;}.mgn-l-500{margin-left:500px;}

.homeNav{}
.homeNav li{margin: 5px 0;}
.homeNav li a{display: block; width:100%; height: 50px; line-height: 50px; color: #FFF; background: #008FDF; text-align: center; border-radius: 4px; }
.homeNav li a:hover{color: #FFF; background: #008FDF}
.br-r{border-right: 1px solid #008FDF;}


